[Desktop Entry]
Name=Linkling
Comment=JSON-based bookmark server. Linkding compatible.
Exec=io.github.jpadgett314.Linkling
Icon=io.github.jpadgett314.Linkling
Type=Application
Categories=Utility;

